<h3>
  Your Regularly Scheduled Programming
</h3>
<p class="menuTitle">
  Old Time Jam
</p>
<ul class="event">
  <li>
    Every Other Tuesday at 8pm
  </li>
  <li>
    Join a Bunch of Musician Friends for a Night of Fun
  </li>
  <li>
    Come on down and listen to the classics!
  </li>
</ul>
<p class="menuTitle">
  Open Mic Night
</p>
<ul class="event">
  <li>
    Every Wednesday at 8pm
  </li>
  <li>
    Ask one of our Talented Barista's for Sign Up Info
  </li>
  <li>
    Come listen to the talent found here in Mount Pleastant!
  </li>
</ul>