<!-- Navigation -->
<nav class="navbar" id="navbar">
  <div class="flex">
    <a class="nav-btn" routerLink="/shop">
      <span class="dashboard-text">Shop</span>
    </a>
    <a class="nav-btn" routerLink="/subscriptions">
      <span class="dashboard-text">Subscription</span>
    </a>
    <a class="nav-btn" routerLink="/wholesale">
      <span class="dashboard-text">Wholesale</span>
    </a>
    <a class="nav-btn-middle">
      <img class="mobileIcon" src="https://firebasestorage.googleapis.com/v0/b/kaya-coffee.appspot.com/o/mobileIcon.png?alt=media&token=cd84be52-c00d-4094-9036-fe7887dfad34" />
    </a>
    <a class="nav-btn" (click)="clickContact()">
      <span class="dashboard-text">Hours</span>
    </a>
    <a class="nav-btn" (click)="clickSearch()">
      <span class="dashboard-text">Search</span>
    </a>

    <a class="nav-btn" routerLink="/dashboard">
      <span class="dashboard-text">My Account</span>
    </a>
  </div>
</nav>
<div class="modal" role="dialog" tabindex="1" [ngClass]="contactTab ? 'show' : 'hide'">
  <div class="modal--content">
    <a class="btn-close" (click)="clickContact()">
      x
    </a>
    <p class="menuTitle">Hours</p>‌ ‌ ‌ ‌ ‌
    <div class="table">
      <div class="row-header">
        <p class="w-50 columnTitle">Day</p>
        <p class="w-50 columnTitle">Hours</p>
      </div>
      <div class="row-inner">
        <p class="w-50">
          Monday - Thursday:</p>
        <p class="w-50">
          7am until 12am</p>
      </div>
      <div class="row-inner">
        <p class="w-50">
          Friday:</p>
        <p class="w-50">
          7am until 11:00pm</p>
      </div>
      <div class="row-inner">
        <p class="w-50">
          Saturday:</p>
        <p class="w-50">
          9am until 11:00pm</p>
      </div>
      <div class="row-inner">
        <p class="w-50">
          Sunday:</p>
        <p class="w-50">
          9am until 12:00pm</p>
      </div>
      <div class="row-inner">
        <p class="w-50">
          Summer Hours:</p>
        <p class="w-50">
          7:00am until 7:00pm</p>
      </div>
      <p class="text-center"> &#8226;989-772-9016 &#8226; 1029 S. University Mt. Pleasant, MI&#8226;</p>
    </div>
  </div>
</div>
<div class="modal" role="dialog" tabindex="1" [ngClass]="searchTab ? 'show' : 'hide'">
  <div class="modal--content">
    <a class="btn-close" (click)="clickSearch()">
      x
    </a>
    <p class="menuTitle">Search</p>‌ ‌ ‌ ‌ ‌
    <div>
    </div>
  </div>
</div>
<!-- End of navigation -->
