<!-- Modals -->
<!-- Modal Content -->
<div class="modal" role="dialog" tabindex="1" [ngClass]="contactTab ? 'show' : 'hide'">
  <div class="modal--content">
    <a class="btn-close" (click)="clickContact()">
      x
    </a>
    <p class="menuTitle">Hours</p>‌ ‌ ‌ ‌ ‌
    <div class="table">
      <div class="row-header">
        <p class="w-50 columnTitle">Day</p>
        <p class="w-50 columnTitle">Hours</p>
      </div>
      <div class="row-inner">
        <p class="w-50">
          Monday - Thursday:</p>
        <p class="w-50">
          7am until 12am</p>
      </div>
      <div class="row-inner">
        <p class="w-50">
          Friday:</p>
        <p class="w-50">
          7am until 11:00pm</p>
      </div>
      <div class="row-inner">
        <p class="w-50">
          Saturday:</p>
        <p class="w-50">
          9am until 11:00pm</p>
      </div>
      <div class="row-inner">
        <p class="w-50">
          Sunday:</p>
        <p class="w-50">
          9am until 12:00pm</p>
      </div>
      <div class="row-inner">
        <p class="w-50">
          Summer Hours:</p>
        <p class="w-50">
          7:00am until 7:00pm</p>
      </div>
      <p class="text-center"> &#8226;989-772-9016 &#8226; 1029 S. University Mt. Pleasant, MI&#8226;</p>
    </div>
  </div>
</div>
<div class="modal" role="dialog" tabindex="1" [ngClass]="searchTab ? 'show' : 'hide'">
  <div class="modal--content">
    <a class="btn-close" (click)="clickSearch()">
      x
    </a>
    <p class="menuTitle">Search</p>‌ ‌ ‌ ‌ ‌
    <div>
      <form class="newsletterForm" [formGroup]="emaillistForm" (ngSubmit)="submitEmailData()" novalidate>
        <!-- Declared formGroup="productForm" to create Reactive form group, novalidate is used to disable HTML5 default validation-->
        <div class="inputWrapper">
          <input type="email" formControlName="email" class="form-control" placeholder="Please Enter Your Email" required> <!-- name is used to commnunicate to formGroup's properties-->
          <p *ngIf="email.touched && email.invalid" class="error"><sup>*</sup>Please Enter A Correct Email</p> <!-- Accessing fromGoup object's property using Getter method -->
          <p *ngIf="email.errors?.minlength" class="error"><sup>*</sup>Email</p> <!-- Accessing Reactive Forms error property using Getter method-->
        </div>
        <div class="form-group">
          <button type="submit" class="btn-default" [disabled]="!emaillistForm.valid">SUBSCRIBE</button> <!--  Disable product form unless it is valid-->
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal" role="dialog" tabindex="1"  [ngClass]="grid1Modal ? 'show' : 'hide'">
  <div class="modal--content">
    <a class="btn-close" (click)="clickGrid1()">
      x
    </a>
    <img style="width:80%;border-radius:5px;" src="https://firebasestorage.googleapis.com/v0/b/kaya-coffee.appspot.com/o/gallery%2Fgrid--1__bg.jpg?alt=media&token=c961c811-3257-4395-8adb-556eceecb70a" />
  </div>
</div>
<div class="modal"  tabindex="1" role="dialog" [ngClass]="grid2Modal ? 'show' : 'hide'">
  <div class="modal--content">
    <a class="btn-close" (click)="clickGrid2()">
      x
    </a>
    <img style="width:80%;border-radius:5px;" src="https://firebasestorage.googleapis.com/v0/b/kaya-coffee.appspot.com/o/gallery%2Fgrid--2__bg.jpg?alt=media&token=e0eeb240-1ec7-44ae-a17c-a0f13ca6a1de" />
  </div>
</div>
<div class="modal" tabindex="1" role="dialog" [ngClass]="grid3Modal ? 'show' : 'hide'">
  <div class="modal--content">
    <a class="btn-close" (click)="clickGrid3()">
      x
    </a>
    <img style="width:80%;border-radius:5px;" src="https://firebasestorage.googleapis.com/v0/b/kaya-coffee.appspot.com/o/gallery%2Fgrid--3__bg.jpg?alt=media&token=3fbd0a15-07d8-4992-a676-ef720387f988" />
  </div>
</div>
<div class="modal" tabindex="1"  role="dialog" [ngClass]="grid4Modal ? 'show' : 'hide'">
  <div class="modal--content">
    <a class="btn-close" (click)="clickGrid4()">
      x
    </a>
    <img style="width:40%;border-radius:5px;" src="https://firebasestorage.googleapis.com/v0/b/kaya-coffee.appspot.com/o/gallery%2Fgrid--4__bg.jpg?alt=media&token=c6f7807a-094b-4311-ae8c-c33c908d271c" />
  </div>
</div>
<div class="modal" tabindex="1" role="dialog" [ngClass]="grid5Modal ? 'show' : 'hide'">
  <div class="modal--content">
    <a class="btn-close" (click)="clickGrid5()">
      x
    </a>
    <img style="width:40%;border-radius:5px;" src="https://firebasestorage.googleapis.com/v0/b/kaya-coffee.appspot.com/o/gallery%2Fgrid--5__bg.jpg?alt=media&token=7b312f2b-1e76-440f-b0b0-5ff48ce8ca3e" />
  </div>
</div>
<div class="modal" tabindex="1" role="dialog" [ngClass]="grid6Modal ? 'show' : 'hide'">
  <div class="modal--content">
    <a class="btn-close" (click)="clickGrid6()">
      x
    </a>
    <img style="width:40%;border-radius:5px;" src="https://firebasestorage.googleapis.com/v0/b/kaya-coffee.appspot.com/o/gallery%2Fgrid--6__bg.jpg?alt=media&token=1b3f7497-2f3d-49e6-b3bd-d8411c804abd" />
  </div>
</div>
<div class="modal" role="dialog" tabindex="1" [ngClass]="grid7Modal ? 'show' : 'hide'">
  <div class="modal--content">
    <a class="btn-close" (click)="clickGrid7()">
      x
    </a>
    <img style="width:80%;border-radius:5px;" src="https://firebasestorage.googleapis.com/v0/b/kaya-coffee.appspot.com/o/gallery%2Fgrid--7__bg.jpg?alt=media&token=c9a7ea7c-b6b3-44d8-96e7-890d6e4a5ad8" />
  </div>
</div>
<div class="modal" role="dialog" tabindex="1" [ngClass]="grid8Modal ? 'show' : 'hide'">
  <div class="modal--content">
    <a class="btn-close" (click)="clickGrid8()">
      x
    </a>
    <img style="width:80%;border-radius:5px;" src="https://firebasestorage.googleapis.com/v0/b/kaya-coffee.appspot.com/o/gallery%2Fgrid--8__bg.jpg?alt=media&token=c2b69098-7c49-4c47-af33-985909cc8a0b" />
  </div>
</div>
<!-- End of Modal Content -->