<section class="globalNav">
  <nav class="global">
    <ul class="main">
      <li><a class="list-title" routerLink="/shop">Shop</a>
        <ul class="sub-menu">
          <li><a routerLink="/shop">Coffee</a></li>
          <li><a routerLink="/shop">Gear</a></li>
          <li><a routerLink="/shop">Subscriptions</a></li>
        </ul>
      </li>
      <li><a class="list-title" routerLink="/wholesale">Wholesale</a>
        <ul class="sub-menu">
          <li><a routerLink="/wholesale">Become a Wholesale Partner</a></li>
        </ul>
      </li>
      <li><a class="list-title" routerLink="/about">About</a>
        <ul class="sub-menu">
          <li><a routerLink="/about">The Company</a></li>
          <li><a routerLink="/about">Contact Us</a></li>
          <li><a routerLink="/about">Jobs</a></li>
          <li><a routerLink="/about">FAQ</a></li>
          <li><a routerLink="/about">Privacy Policy</a></li>
        </ul>
      </li>
      <li><a class="list-title">Locations</a>
        <ul class="sub-menu">
          <li><a target="_blank" href="https://goo.gl/maps/B6ARaFUbRKk">Mount Pleasant</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <aside>
    <ul>
      <li id="gift-card-btn"><span>Gift Cards</span><br><a>Give a Gift Today</a></li>
      <li><span>Social Media</span> <br>Follow Kaya</li>
      <li><a href="https://twitter.com/kayacoffeehouse" class="icon"><i class="fab fa-twitter"></i></a><a href="https://www.facebook.com/kayacoffeehouses/" class="icon"><i class="fab fa-facebook"></i></a><a href="https://www.instagram.com/kayacoffeehouse"
          class="icon"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </aside>
</section>